@import "./components/cardsMovie";
@import "./components/switchBtn";

label {
  margin-left: 20px;
}
#datepicker {
  width: 180px;
  margin: 0 20px 20px 20px;
}
#datepicker > span:hover {
  cursor: pointer;
}

body {
  background-color: #050505;
}

.datePick {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.card__form {
  width: 100%;
  background-color: var(--color);
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(209, 57, 57, 0.2);
  margin: 2rem;
  padding: 1.6em 2.3em;
  overflow: hidden;
  max-width: 90rem;
  width: auto;
  background-color: #e8eaea;
  min-height: 50rem;
  height: auto;
  display: grid;
  gap: 2.5em;
}

.alert__err {
  color: red;
}

.sidebar {
  background-color: #25303b;
}

.select__year {
  min-width: 102px;
  width: 102px;
}
